.image {
width: 200px;
height: 200px;
border-left: 1px solid black;
border-right: 1px solid black;
}

.row-un.image {
float: right;
margin-left: 20px;
}

.row-deux.image {
float: left;
margin-right: 20px;
}

.contenu {
display: flex;
flex-wrap: wrap;
}

.element {
width: 50%;
box-sizing: border-box;
}

.info {
padding: 10px;
}

h2 {
font-size: 2em;
}

h2, p {
padding-top: 20px;
}

@media screen and (min-width: 1900px) {
body {
width: 1900px;
margin: 0 auto;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
}