div, h1, h2, p {
padding: 20px;
}

body {
font-family: europa;
font-weight: 400;
}

header, .contenu, footer, .image, .element, .intro, p {
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.cr {
clear: right;
margin: 0 !important;
padding: 0 !important;
}

.cl {
clear: left;
margin: 0 !important;
padding: 0 !important;
}

.cb {
clear: both;
margin: 0 !important;
padding: 0 !important;
}

em {
font-style: italic;
}

p {
letter-spacing: 0.8px;
word-spacing: -0.1em;
font-size: 1.1em;
line-height: 1.3em;
background-color: rgba(0,0,0,.1);
text-align: justify;
}

a {
color: black;
text-decoration: none;
font-weight: 600;
}

a: visited {
color: black;
}

a:hover {
text-decoration: underline;
}

h2 {
font-weight: 700;
font-family: "fira-sans-2";
font-size: 1.5em;
}

header {
background-image: url("http://balatzar.github.io/larty-style/assets/img/zendaya/banner.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 400px;
}

h1 {
font-family: "fira-sans-2";
color: white;
font-size: 3em;
line-height: 40px;
font-weight: 700;
text-align: center;
background-color: rgba(1,1,1,.2);
padding: 10px 0;
position: relative;
top: 40%;
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.26);
}

.intro {
width: 75%;
margin: 20px auto;
}

.portrait {
background-image: url("http://balatzar.github.io/larty-style/assets/img/zendaya/portrait.jpg");
float: left;
height: 300px;
width: 200px;
background-position: center;
background-size: cover;
margin-right: 20px;
border: 1px solid black;
}

/* FOOTER */

footer {
height: 200px;
text-align: center;
display: flex;
color: white;
}

nav {
border-top: 1px solid black;
background-color: #292c31;
width: 50%;
}

nav a {
font-size: 1em;
font-weight: 600;
text-decoration: none;
color: white;
transition: .5s ease;
display: block;
width: 30px;
font-family: "fira-sans-2";
padding: 20px 20%;
transition: 0.3s linear;
}

nav a:visited {
color: white;
}

nav a:hover {
color: grey;
}

form {
padding: 90px 0;
background-color: #212326;
width: 50%;
}

.bottom {
background-color: #242424;
color: white;
text-align: center;
}

.bottom p {
padding: 10px 0;
}

/* FIN FOOTER */

/* CONTENU */

.image {
background-position: center;
background-size: cover;
border: 1px solid black;
}

.element {
border-top: 1px solid black;
}

.image.un {
background-image: url("http://balatzar.github.io/larty-style/assets/img/zendaya/un.jpg");
}

.image.deux {
background-image: url("http://balatzar.github.io/larty-style/assets/img/zendaya/deux.jpg");
}

.image.trois {
background-image: url("http://balatzar.github.io/larty-style/assets/img/zendaya/trois.jpg");
}

.image.quatre {
background-image: url("http://balatzar.github.io/larty-style/assets/img/zendaya/quatre.jpg");
}

/* FIN CONTENT */
