.topnav {
font-size: 1.1em;
}

@media screen and (max-width: 550px) {
.hidebr {
display: inherit;
}
.topnav {
font-size: 1.3em;
padding: 20px;
}
}
.intro {
width: 90%;
}

.portrait {
height: 200px;
width: 130px;
}

.presentation p {
text-align: initial;
}

.image {
height: 150px;
width: 150px;
}

.info {
padding: 10px;
}

.fl {
float: left;
margin-right : 10px;
}

.fr {
float: right;
margin-left : 10px;
}